.visualizer {
  composes: visualizer from "../../views/main/styles.module.css";
  width: 1000px;
  height: 100%;
  min-height: 370px;
  max-height: 370px;
  padding-bottom: 20px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid lightgrey;
  }

.is-drop-target {
  composes: is-drop-target from "../../views/main/styles.module.css";
}
